@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1 class="diplay-4 pb-5">@ViewBag.Category</h1>

<div class="row">
     @foreach (var item in Model)
    {
        <div class="col-4">
              <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif "/>
                <p class="alert lead alert-success text-center d-none">The product has been addedd</p>
            </div>  
            <img src="~/media/Products/@item.Img" class="img-fluid" alt=""/>
            <h4>@item.Name</h4>
            <div>  
                @Html.Raw(@item.Description)
            </div>  
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
             <a asp-controller="Cart" asp-action="Add" onclick="addToCart(event, @item.Id)" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary addToCart">
                    Add To Cart
                </a>
            </p>
        </div>       
    }

    @if (ViewBag.TotalPages > 1) 
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/products/@ViewBag.CategorySlug" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
            </pagination>
        </div> 
    }
</div>

@*@section Scripts{
    <script>
        $(function() {
            $("a.addToCart").click(function(e)){
                e.preventDefault();

                let id = $(this).data("id");

                $.get('/cart/add' + id, {}, function (data) {
                    $("div.smallcart").html(data);
                });
            });
        });
    </script>
}*@

